.footer{
    height: 62px;
    width: 1022px;
    background: #2c292f;

}


.footer span{
    padding:10px;
    margin-left: 392px;
    color:white;
}

.titulo-footer{
    font-size:20px;
    margin-top:2000px;
}

.divfooter{
    padding: 15px;
    margin-top: 12px;
}