@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root{
    --green:#27ae60;
    --black:#444;
    --light-color:#777;
    --borde:.1rem solid rgba(0,0,0,.2)
    --box-shadow:.4rem .4rem 1rem #ccc,
    -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
    -.4rem -.4rem 1rem #fff inset;
}


*{
font-family: 'Poppins', sans-serif;
margin:0;
padding:0;
box-sizing:border-box;
outline:none;
borde:none;
text-decoration:none;
text-transform:capitalize;
transition: .2s linear;
}

html{
    font-size:62.5%;
    overflow-x:hiden;
    scroll-behavior:smooth;
}

body{
    background: var(--bg-color);
    padding-left:30rem;
    transition: background 0.2s linear;

}

body.dark{
    background: #232c35;
}

body.active{
    --black:#fff;
    --light-color:#ddd;
    --borde:.1rem solid rgba(0,0,0,.4)
    --box-shadow:.4rem .4rem 1rem #111,
    -.4rem -.4rem 1rem #333;
    --box-shadow-inset:.4rem .4rem 1rem #111 inset,
    -.4rem -.4rem 1rem #333 inset;
}

.header{
    position: fixed;
    top:0; left:0;
    z-index:999;
    background: var(--bg-color);
    width:30rem;
    borde-right: var(--border);
    height:100%;
    padding:2rem;
    text-align:center;
}

.header .user img{

    margin:1rem 0;
    borde:1rem solid transparent;
    border-radius:50%;
    heigth:18rem;
    width:18rem;
    box-shadow: var(--box-shadow);

}

.header .user h3{
    color:var(--black);
    font-size:2.5rem;
    padding-bottom:7px;

}

.header .user p{
    color:var(--green);
    font-size:1.5rem;

}


.header .navbar{
    padding-top:1rem;
}

.header .navbar a{
    display:block;
    margin:1.5rem 0;
    padding:.7rem;
    border-radius:5rem;
    font-size:2rem;
    box-shadow: var(--box-shadow);
    color: var(--black);


}
.header .navbar a{
    box-shadow: var(--box-shadow-inset);

}

.header .navbar a:hover{
    color:var(--green);
    box-shadow: var(--box-shadow-inset);
}



#menu-btn{
    position:fixed;
    top:1.5rem; left: 2rem;
    z-index:1000;
    height: 5rem;
    width: 4rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 4rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align:center;
    color:var(--black);
    display:none;
    

}

#menu-btn:hover{
    color:var(--green);
    box-shadow: var(--box-shadow-inset);

}

#theme-toggler{

    position:fixed;
    top:1.5rem; right: 2rem;
    z-index:1000;
    height: 5rem;
    width: 4rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 4rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align:center;
    color:var(--black);
}

#theme-toggler:hover{
    color:var(--green);
    box-shadow: var(--box-shadow-inset);
}













/* media queries */

@media (max-width:991px){
    
    html{
        font-size:55%;
       
    }

    body{
        padding-left: 0;
    
    }


    .header{
        left:-110%;

    }

    .header.active{
        left:0%;
        transition: .4s linear;
    }

    #menu-btn{
        display:initial;
    }
}


@media (max-width:450px){
    
    html{
        font-size:68%;

    }
    .header{
        width:100%;
        borde-right:0;
        padding-top:70px;
    }

    #menu-btn{
    height: 3,5rem;
    width: 1,5rem;
}

.header .user img{

    margin:2rem 0;
    borde:1rem solid transparent;
    border-radius:50%;
    heigth:14rem;
    width:14rem;
    box-shadow: var(--box-shadow);

}