@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root{
    --varn:#27ae60;
    --black:#444;
    --light-color:#777;
    --borde:.1rem solid rgba(0,0,0,.2)
    --box-shadow:.4rem .4rem 1rem #ccc,
    -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
    -.4rem -.4rem 1rem #fff inset;
}


*{
font-family: 'Poppins', sans-serif;
margin:0;
padding:0;
box-sizing:border-box;
outline:none;
borde:none;
text-decoration:none;
text-transform:capitalize;
transition: .2s linear;
}

html{
    font-size:62.5%;
    overflow-x:hiden;
    scroll-behavior:smooth;
}

body{
    background: url("../img/img-7.jpg") no-repeat center center;
    padding-left:30rem;
    transition: background 0.2s linear;
    background-size: cover;
    height: 92vh;
    margin-top:50px;

}



body.dark {
    background:#2c292f;
}

body.dark a {
    background: #fff;
}

body.dark p{
   color:white;
}

body.dark span{
    color:white;
}

body.dark h3{
    color:white;
}

body.dark h1{
    color:var(--green);
}

body.dark .user h3 {
    color:var(--green);
}

body.dark .user h3:hover{
    color:white;
} 

body.active{
    --black:#fff;
    --light-color:#ddd;
    --borde:.1rem solid rgba(0,0,0,.4)
    --box-shadow:.4rem .4rem 1rem #111,
    -.4rem -.4rem 1rem #333;
    --box-shadow-inset:.4rem .4rem 1rem #111 inset,
    -.4rem -.4rem 1rem #333 inset;
}
.home{
    display: flex;
    flex-flow: colum;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding-top:20rem;
}

.home .content h3{
padding-top:17px;
font-size:2rem;
color:#DCDCDC;
line-height:1.1;
text-transform:uppercase;
line-items:left;
font-family: system-ui,-apple-system, Helvetica ,Arial, sans-serif;

}

.home .content p{
    padding-top:1.2rem;
    font-size:1.8rem;
    color:#FFD700;
    padding-bottom: .5rem;
    
    
    }
.home .content a {
        color:white;
        padding-left:0rem;
    
    }


.home .content h1{
        font-size:3.5rem;
        color:var(--green);
        padding-bottom: .10rem;
        }

.home .share{
    position: relative;
    top:20rem;
    height:50rem;
    border-radius:.5rem;
}

.header .user .perfil{
    
    margin:0rem 0; 
    margin-top:1rem;
    borde:2rem black;
    border-radius:100%;
    heigth:1rem;
    width:10rem;
    }


section{
   
    width:100%;
    height:100vh;
    padding:0rem;
}

.batao{
    
   
    display:block;
    margin-left:1.9rem;
    margin:2.5rem ;
    padding:.1rem;
    border-radius:10rem;
    font-size:2.3rem;
    box-shadow: var(--box-shadow);
    color: white;
}

.batao:hover{
    box-shadow: var(--box-shadow-inset);
    color:var(--green);
}

.batao a{
    
    color:red;
}



.home .share{
    position:relative;
    top:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:1rem;
}
.home .share a{

    height: 5rem;
    width: 5rem;
    line-heigth: 5rem;
    box-shadow: var(--box-shadow);
    margin: .5rem;
    font-size: 4rem;
    color:var(==black);
}


.home .share a:hover{

    box-shadow: var(--box-shadow-inset);
    color:var(--green)


}


.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:1rem 3.5rem;
    borde-right: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
}

.btn:hover{
    box-shadow: var(--box-shadow-inset);
    color: var(==green);
}







.header{
    position: fixed;
    top:0; left:0;
    z-index:1;
    background:#006400;
    width:30rem;
    height:100%;
    borde-right: #D3D3D3;
    padding:1rem;
    text-align:center;
}

.header .user img{
    max-width:150px;

}

.header .user .perfil{

    margin:rem 0;
    borde:10rem solid transparent;
    border-radius:100%;
    heigth:15rem;
    width:20rem;
    box-shadow: var(--box-shadow);

}

.header .user h3{
    color:var(shadow);
    font-size:3.5rem;
    padding-bottom:5px;

}

.header .user p{
    color:var(--green);
    font-size:1.5rem;

}


.header .navbar{
    padding-top:1rem;
}

.header .navbar a{
    display:block;
    margin:1.5rem ;
    padding:.1rem;
    border-radius:10rem;
    font-size:2.3rem;
    box-shadow: var(--box-shadow);
    color: var(--black-);


}
.header .navbar a{
    box-shadow: black;

}

.header .navbar a:hover{
    color:white;
    box-shadow: var(--box-shadow-inset);
}



#menu-btn{
    position:fixed;
    top:1.5rem; left: 2rem;
    z-index:1000;
    height: 5rem;
    width: 4rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 4rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align:center;
    color:var(--black);
    display:none;
    

}

#menu-btn:hover{
    color:var(--green);
    box-shadow: var(--box-shadow-inset);

}















/* media queries */

@media (max-width:991px){
    
    html{
        font-size:55%;
       
    }

    body{
        padding-left: 0;
    
    }



    .header{
        left:-110%;

    }

    .header.active{
        left:0%;
        transition: .4s linear;
    }

    #menu-btn{
        display:initial;
    }
}


@media (max-width:360px){
    
    html{
        font-size:68%;

    }

    .menu-web{
        opacity: 0.7;
    }


    .header{
        position: absolute;
        background:#F8F8FF;
        z-index:1;
        width:65%;
        height:100%;
        padding:2rem; 
        padding-top:100px;
        text-align:center;    
       
    }
    
    .header .navbar a{
        display:block;
        margin:2.5rem 0;
        padding:.7rem;
        border-radius:5rem;
        font-size:1.3rem;
        box-shadow: var(--box-shadow);
        color: var(--black);
    
    
    }
    

    .header .user .perfil{
    
    margin:0rem 0; 
    margin-top:10rem;
    borde:2rem black;
    border-radius:100%;
    heigth:8rem;
    width:10rem;
    }
    .header .user h3{
        color:var(shadow);
        font-size:1.5rem;
        padding-bottom:5px;
    
    }
    .header .user p{
        color:var(shadow);
        font-size:1rem;
        padding-bottom:2px;
    
    }


    #menu-btn{
    height: 2,5rem;
    width: 1,5rem;
}

.home .content h1{
    font-size:2.8rem;
    color:var(--green);
    padding-bottom: 2.2rem;
    }

.home .content h3{
    padding-top:10px;
    font-size:2.8rem;
    line-height:1.1;
    text-transform:uppercase;
            
}

.home{
    display: flex;
    flex-flow: colum;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding-top:50rem;
}
.home .content p{
    padding-top:1.2rem;
    font-size:1.4rem;
    color:var(--green);
    padding-bottom: .5rem;
    
    
    }

    .label{

    background-color: #111;
    border-radius:50px;
    cursor:pointer;
    position:fixed;
    margin-left:10px;
    top:3.5rem; right: 5.8rem;
    display:flex-box;
    align-items:center;
    justify-content: space-between;
    cursor: pointer;
    padding:7.5px;
    padding-heigth:2px;        
    height:5rem;
    width: 7.1rem;
    font-size: 7px;
    transform: scale(1.0);
                
        
        }
    .label .ball{
        background-color: #fff;
        border-radius:50%;
        position: absolute;
        top: 5px;
        left:4px;
    
    
        height:22px;
        width:32px;
        transform: translatex(0px);
        transition: transform 0.2s linear;
    }
    
}

.header .user img{

    margin:2rem 0;
    borde:1rem solid transparent;
    border-radius:40%;
    heigth:10rem;
    width:10rem;
    box-shadow: var(--box-shadow);

}