@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root{
    --varn:#27ae60;
    --black:#444;
    --light-color:#777;
    --borde:.1rem solid rgba(0,0,0,.2)
    --box-shadow:.4rem .4rem 1rem #ccc,
    -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
    -.4rem -.4rem 1rem #fff inset;
}


*{
font-family: 'Poppins', sans-serif;
margin:0;
padding:0;
box-sizing:border-box;
outline:none;
borde:none;
text-decoration:none;
text-transform:capitalize;
transition: .2s linear;
}

html{
    font-size:62.5%;
    overflow-x:hiden;
    scroll-behavior:smooth;
   
}




body{ 
    
    
    background-image: radial-gradient(circle at 50% -20.71%, #a7deff 0, #6c90d8 50%, #38496b 100%);
    padding-left:0rem;
    transition: background 0.2s linear;
    background-size: cover;
    height: 100vh;
    margin-top:70px;

}



body.dark {
    background:#2c292f;
}

body.dark .menu-web a{
    
        color:radial-gradient(circle at 50% 91.51%, #c9c2ff 0, #919cff 25%, #3c78f2 50%, #0059e3 75%, #0041d4 100%);
        padding-left:0rem;
        text-decoration: none;
        transition: 0.3s;
        font-size:17px;
}

body.dark a {
    background:none;
}

body.dark p{
   color:white;
}

body.dark span{
    color:white;
}

body.dark h3{
    color:white;
}

body.dark h1{
    color:var(--green);
}

body.dark .user h3 {
    color:var(--green);
}

body.dark .user h3:hover{
    color:white;
} 


body.active{
    --black:#fff;
    --light-color:#ddd;
    --borde:.1rem solid rgba(0,0,0,.4)
    --box-shadow:.4rem .4rem 1rem #111,
    -.4rem -.4rem 1rem #333;
    --box-shadow-inset:.4rem .4rem 1rem #111 inset,
    -.4rem -.4rem 1rem #333 inset;
}
.home{
   
    width:960px;
    margin:auto;
    display: flex;
    flex-flow: colum;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding-top:0rem;
    
  
}

.Conteudo{
    display:table;
   
}
.Conteudoimg{

    display: table-cell;
    padding-left:0px;
    line-height:1.1;
    float:height;
}
.Conteudotexto{
    width:460px;
    padding-bottom:303px;
    display:table-cell;
    line-height:1.1;
    float:left;

}

.Conteudotexto h1{
    margin-top:200px;
}


.Bannertopo{
    display:table-cell;
    margin-bottom:400px;
    width:450px; 
    float:left;
    heigth:800px;
   

}

.home .content h3{
padding-top:4px;
font-size:2rem;
color:#DCDCDC;
line-height:1.1;
text-transform:uppercase;
line-items:left;
font-family: system-ui,-apple-system, Helvetica ,Arial, sans-serif;

}

.home .content p{
    padding-top:2.2rem;
    font-size:1.8rem;
    color:#FFD700;
    padding-bottom: .5rem;
    
    
    }
.home .content a {
        max-width:350px;
        color:white;
        margin-left:15rem;
        padding-left:0rem;
        margin-top:3rem;

    
    }




.home .content h1{
        font-size:3.5rem;
        color:white;
        padding-bottom:2rem;
        }

.home .share{
    position: relative;
    top:20rem;
    height:30rem;
    border-radius:.5rem;
}

.header .user .perfil{
    
    margin:0rem 0; 
    margin-top:1rem;
    borde:2rem black;
    border-radius:100%;
    heigth:1rem;
    width:10rem;
    }

.span-1{
    color:var (--green-);
       

}

section{
   
    width:100%;
    height:100%;
    padding:0rem;
}

.batao{
  
}

.batao:hover{
    box-shadow: var(--box-shadow-inset);
    color:var(--green);
}



.home .share{
    position:relative;
    top:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:1rem;
}
.home .share a{

    height: 5rem;
    width: 5rem;
    line-heigth: 5rem;
    box-shadow: var(--box-shadow);
    margin: .5rem;
    font-size: 4rem;
    color:var(==black);
}


.home .share a:hover{

    box-shadow: var(--box-shadow-inset);
    color:var(--green)


}


.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:1rem 3.5rem;
    borde-right: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
}

.btn:hover{
    box-shadow: var(--box-shadow-inset);
    color: var(==green);
}







.header{
    position: fixed;
    top:0; left:0;
    z-index:1;
    background-image: radial-gradient(circle at 50% 88.55%, #ffc600 0, #f0ca00 7.14%, #d6cc00 14.29%, #b8ca00 21.43%, #99c500 28.57%, #77bd00 35.71%, #51b200 42.86%, #1ba408 50%, #00961e 57.14%, #00892a 64.29%, #007e34 71.43%, #00753d 78.57%, #006e46 85.71%, #006950 92.86%, #00665b 100%);
    width:30rem;
    height:100%;
    borde-right: #D3D3D3;
    padding:1rem;
    text-align:center;
    opacity:0;

}

.header .user img{
    max-width:150px;

}

.header .user .perfil{

    margin:rem 0;
    borde:10rem solid transparent;
    border-radius:100%;
    heigth:15rem;
    width:20rem;
    box-shadow: var(--box-shadow);

}

.header .user h3{
    color:var(shadow);
    font-size:3.5rem;
    padding-bottom:5px;
    margin-top:3rem;

}

.header .user p{
    color:white;
    font-size:1.5rem;

}


.header .navbar{
    padding-top:2rem;
}

.header .navbar a{
    display:block;
    margin:1.5rem ;
    padding:.1rem;
    border-radius:10rem;
    font-size:2.3rem;
    box-shadow: var(--box-shadow);
    color: var(--black-);


}
.header .navbar a{
    box-shadow: black;

}

.header .navbar a:hover{
    color:blue;
    box-shadow: var(--box-shadow-inset);
}



#menu-btn{
    position:fixed;
    top:1.5rem; left: 2rem;
    z-index:1000;
    height: 5rem;
    width: 4rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 4rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    display:none;
    

}

#menu-btn:hover{
    color:var(--green);
    box-shadow: var(--box-shadow-inset);

}





.heading{
    text-align:center;
    font-size: 5rem;
    color:radial-gradient(circle at 50% 91.51%, #c9c2ff 0, #919cff 25%, #3c78f2 50%, #0059e3 75%, #0041d4 100%);
    padding-left:0rem;
    text-transform: uppercase;
    padding-bottom:2rem;
}

.heading span{
    color:white;
    color:radial-gradient(circle at 50% 91.51%, #c9c2ff 0, #919cff 25%, #3c78f2 50%, #0059e3 75%, #0041d4 100%);
    padding-left:0rem;
    text-transform: uppercase;
  
}




.about .row {
    width:960px;
    margin:auto;
    display: flex;
    flex-flow: colum;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding-top:5rem;
    align-items: center;
    flex=wrap: wrap-reverse;
    gap:4rem;


}

.about .row .box-container{
    
    
    display:flex;
    flex:2 2 10rem;
    gap:10rem;
    flex-wrap: wrap;
}
.about .row .box-container .box
{
  flex:1 1 18rem;
  text-align: center;
  padding:2rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
}
.about .row .box-container .box h3
{       

    line-height:1.1;
    font-size: 5rem;
    color:white;

}
.about .row .box-container .box p
{
 font-size: 1.5rem;
 color:var(--black-);
 padding:0.3rem 0;

}




.about .row .content2{
    flex:1 1 40rem;
}


.about .row .content2 h3{

    font-size:2.5rem;
    color:var(--black);
    line-height:1.8;

}
.about .row .content2 p{
    font-size:1.5rem;
    color: var(--light-color);
    line-height:1.8;
    padding:1rem 0;

}

.about .row .content2 h3 span{
   
    color: var(--green);
 

}







/* media queries */

@media (max-width:100%){
    
    html{
        font-size:55%;
       
    }

    body{
        padding-left: 0;
    
    }



   
    .header{
        left:-100px;
        opacity:1;


    }

    .header.active{
        left:0%;
        transition: .4s linear;
    }

    #menu-btn{
        display:initial;
    }
}


@media (max-width:360px){
    
    html{
        font-size:68%;

    }

    .menu-web{
        opacity: 0;
    }


    .header{
        position: absolute;
        background:#F8F8FF;
        z-index:1;
        width:65%;
        height:100%;
        padding:2rem; 
        padding-top:100px;
        text-align:center; 

       
    }
    
    .header .navbar a{
        display:block;
        margin:2.5rem 0;
        padding:.7rem;
        border-radius:5rem;
        font-size:1.3rem;
        box-shadow: var(--box-shadow);
        color: var(--black);
    
    
    }
    

    .header .user .perfil{
    
    margin:0rem 0; 
    margin-top:10rem;
    borde:2rem black;
    border-radius:100%;
    heigth:8rem;
    width:10rem;
    }
    .header .user h3{
        color:var(shadow);
        font-size:1.5rem;
        padding-bottom:5px;
    
    }
    .header .user p{
        color:var(shadow);
        font-size:1rem;
        padding-bottom:2px;
    
    }


    #menu-btn{
    height: 2,5rem;
    width: 1,5rem;
}

.home .content h1{
    font-size:2.8rem;
    color:white;
    padding-bottom: 2.2rem;
    }

.home .content h3{
   
    padding-left:15px;
    padding-top:10px;
    font-size:2rem;
    line-height:1.1;
    text-transform:uppercase;
            
}

.home{
    display: flex;
    flex-flow: colum;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding-top:20rem;
}
.home .content p{
    padding-top:1.2rem;
    font-size:1.4rem;
    color:var(--green);
    padding-bottom: .5rem;
    
    
    }

    .label{

    background-color: #111;
    border-radius:50px;
    cursor:pointer;
    position:fixed;
    margin-left:10px;
    top:3.5rem; right: 5.8rem;
    display:flex-box;
    align-items:center;
    justify-content: space-between;
    cursor: pointer;
    padding:7.5px;
    padding-heigth:2px;        
    height:5rem;
    width: 7.1rem;
    font-size: 7px;
    transform: scale(1.0);
                
        
        }
    .label .ball{
        background-color: #fff;
        border-radius:50%;
        position: absolute;
        top: 5px;
        left:4px;
    
    
        height:22px;
        width:32px;
        transform: translatex(0px);
        transition: transform 0.2s linear;
    }
    
}

.header .user img{

    margin:2rem 0;
    borde:1rem solid transparent;
    border-radius:40%;
    heigth:10rem;
    width:10rem;
    box-shadow: var(--box-shadow);

}