


.logo h1 {

display:float;
color:white;
font-size:23px;
margin-bottom:110px;
padding-right:0px;
}

.icone1{
    width:70px;
    height:60px;
}

.iconimg1{

    width: 67px;
    margin-top:-165px;
    padding-left:40px;


}

.icone2{
    width:70px;
    height:60px;
}

.iconimg2{

    width: 67px;
    margin-top: -2px;
    margin-left: 194px;


}
.icone3{
    width:70px;
    height:60px;
}

.iconimg3{

    width: 67px;
    margin-top: -3px;
    margin-left: 198px;


}
.icone4{
    width:70px;
    height:60px;
    padding-left:100px;
    padding-top:10px;
    padding-bottom:10px;
}

.iconimg4{

    width: 67px;
    margin-top: 0px;
    margin-left: 90px;

}
.icone1{
   
    width: 70px;
    height: 35px;
    padding-left: 74px;
    margin-top: -4px;
    padding-bottom: 10px;
}

.iconimg1{

    width: 107px;
    margin-top: -27px;
    margin-left: 84px;
  }
