:root{
    --green:#27ae60;
    --black:#444;
    --light-color:#777;
    --borde:.1rem solid rgba(0,0,0,.2)
    --box-shadow:.4rem .4rem 1rem #ccc,
    -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
    -.4rem -.4rem 1rem #fff inset;
}


.barra{
    width:100px;
    height:100px;
    background:red;
    margin-bottom:100px;
}

.my-name h3{

    cursor:pointer;
    background=color:var (--green);
    

}

.navbar{
   
    width: 995px;
    height: 100px;
    margin-left:3px;
    background:white;
    border-radius: 18px;
}

.menu-web{
   
    padding-top:100px;
    padding-right:500px;
    margin-left:491px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui,-apple-system, Helvetica ,Arial, sans-serif;
    font-size:20px;
    height: 13vh;
    opacity:1;

}

.nav-list {
    list-style: none;
    display:flex;
    padding-top:10px;
    padding-right:25px;
    padding-bottom:123px;
    padding-left:20px;
}
.botao01{
    background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    border: 1px solid #CCCCCE;
    border-radius: 3px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                  0 2px 7px rgba(0, 0, 0, 0.2);
    color: #616165;
    display: block;
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow:1px 1px 0 #FFF;
    padding: 5px 15px;
    position: relative;
    width: 98px;
}




.nav-list li{ 

    letter-spacing: 4px;
    margin-left:25px;

}


.menu-web a {
    color:black;
    text-decoration: none;
    transition: 0.3s;
    font-size:15px;
}

.menu-web a:hover {

   color: blue;
   
 
}


 .my-name:hover{
    color:var (--green);
    
}

.meu-nome h3{
    font-size:20px;

}



.my-image{

background-color:red;
width:100px;
height:100px;

}


