:root{
    --green:#27ae60;
    --black:#444;
    --light-color:#777;
    --borde:.1rem solid rgba(0,0,0,.2)
    --box-shadow:.4rem .4rem 1rem #ccc,
    -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
    -.4rem -.4rem 1rem #fff inset;
}


.barra{
    width:100px;
    height:100px;
    background:red;
    margin-bottom:100px;
}

.my-name h3{

    cursor:pointer;
    background=color:var (--green);
    

}

.navbar{
    background:#195BBE;
    width: 1300px;
    height: 100px;
}

.menu-web{
   
    padding-top:100px;
    padding-right:500px;
    margin-left:500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui,-apple-system, Helvetica ,Arial, sans-serif;
    font-size:20px;
    height: 13vh;
    opacity:1;

}

.nav-list {
    list-style: none;
    display:flex;
    padding-top:10px;
    padding-right:420px;
    padding-bottom:123px;
    padding-left:20px;
}

.nav-list li{ 

    letter-spacing: 4px;
    margin-left:25px;

}


.menu-web a {
    color:white;
    text-decoration: none;
    transition: 0.3s;
    font-size:15px;
}

.menu-web a:hover {
   opacity: 0.7;
}


 .my-name:hover{
    color:var (--green);
    
}

.meu-nome h3{
    font-size:20px;

}



