.Skill {
    width: 1001px;
    height: 269PX;
    overflow: hidden;
    background:#473328;
    

}
.skill .content2{
    width: 501px;
    height: 259px;
    
}
.skill .Conteudo2{
    display:table;
    width:1008px;
    height:500px;
   